
div[class="cont"]
{
    padding: 10px;
    margin-top: 10px;
    background-image: url("back5.jpg");
    height: 1200px;
    background-repeat: no-repeat;
    background-size: 1500px 1200px;
    width: 1500px;
    
}

img[alt="i1"]
{
    margin-top: -207px;
    margin-left: -480px;
}
div[class="part2"]
{
    margin-top: 70px;
    margin-left: 250px;
    color: white;
}
p[class="part2"]
{
    font-size: 22px;
    font-weight: bold;
}
div[class="part3"]
{
    margin-top: -692px;
    margin-left: 350px;
    color: white;
}
img[src="icon2.png"]
{
    margin-top: -342px;
    margin-left: -80px;
}
p[class="part3"]
{
    font-size: 22px;
    font-weight: bold;
    margin-left: 770px;
}
p[class="match"]
{
    margin-left: 670px;
    margin-top: -550px;
    font-size: 22px;
    font-weight: bold;
}
p[class="match2"]
{
    margin-left: 600px;
    margin-top: 110px;
    font-size: 22px;
    font-weight: bold;
    color: white;
}
div[class="tap"]
{
    width: 30px;
    height: 30px;
    background-color: #eee;
    margin-left: 250px;
    margin-top: -60px;
    text-align: center;
    align-items: center;
    align-content: center;
    padding-top: 6px;
}
div[class="tap"]:hover,div[class="tap2"]:hover
{
    background: orange;
}
div[class="tap2"]
{
    width: 30px;
    height: 30px;
    background-color: #eee;
    margin-left: 1100px;
    margin-top: -28px;
    text-align: center;
    align-items: center;
    align-content: center;
    padding-top: 6px;
}
div[class="image"]
{
    margin-top: 100px;
    margin-left: 800px;
}
p[class="new1"]
{
    color: white;
    font-size: 21px;
    font-weight: bold;
    width: 425px;
    direction: rtl;
    margin-left: -20px;
}
p[class="new2"]
{
    color: white;
    font-size: 18px;
    font-weight: bold;
    width: 205px;
    direction: rtl;
    margin-left: -10px;
}
div[class="image2"]
{
    margin-top: -400px;
    margin-left: 580px;
}
p[class="match"]
{
    margin-left: 650px;
    margin-top: -490px;
    font-size: 22px;
    font-weight: bold;
}
p[class="new3"]
{
    color: white;
    font-size: 17px;
    font-weight: bold;
    width: 300px;
    direction: rtl;
    margin-left: -310px;
    margin-top: -60px
}
div[class="image3"]
{
    margin-top: 120px;
    margin-left: 1100px;
}
p[class="new4"]
{
    color: white;
    font-size: 17px;
    font-weight: bold;
    width: 300px;
    direction: rtl;
    margin-left: 790px;
    margin-top: -60px
}
img[src="new13.png"]
{
    margin-top: 100px;
    margin-left: 1100px;
}
div[class="button"]
{
    width: 170px;
    height: 30px;
    background: none;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    padding: 5px;
    margin-left: 1010px;
    margin-top: 100px;
    text-align: center;
    align-content: center;
}
div[class="button"]:hover
{
    background: white;
    color: black;
}
p[class="t1"]
{
    margin-top: 2px;
    font-size: 17px;
    font-weight: bold;
}
img[alt="i2"]
{
    margin-top: -196px;
    margin-left: -480px;
}
p[class="new5"]
{
    color: white;
    font-size: 18px;
    font-weight: bold;
    width: 205px;
    direction: rtl;
    margin-left: -10px;
}
div[class="image5"]
{
    margin-top: -450px;
    margin-left: 580px;
}
img[alt="english"]
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 500px;
    opacity: .5
}
img[alt="spanish"]
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: -110px;
    opacity: .5
}
img[alt="french"]
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: -110px;
    opacity: .5
}
img[alt="italian"]
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: -110px;
    opacity: .5
}
img[alt="german"]
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: -110px;
    opacity: .5
}
img[alt="english"]:hover,img[alt="german"]:hover,img[alt="italian"]:hover,img[alt="french"]:hover,img[alt="spanish"]:hover
{
    opacity: 1
}
div[class="team2"]
{
    margin-left: 280px;
    color: white;
    border-bottom: 2px solid white;
    width: 300px;
}
span[class="s1"]
{
    margin-left: 20px;
}